.header{
            background-color:yellow;
            color:white;
        }
        .footer{
            background-color:blue;
            color:white;
        }
        .container{
            margin:10px;
        }



