.header{
    padding : 10px;
    display :flex;
    justify-content: space-between;
            background-color:yellow;
            color:white;
        }
        .footer{
            background-color:blue;
            color:white;
        }
        .container{
            margin : 0px;
        }
        .menu{
            display:flex;
        }
        .menu li{
            list-style:none;
            margin:5px;
        }
        .menu li a{
            text-decoration:none;
            color:black;
        }
        .box{
            margin:10px;
            padding:50px;
            border:1px gray solid;
            background-color:aqua;
        }



